:root {
  --bgcolor: #a96d7b;
  --overlay: #a96d7b82;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, sans-serif;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: var(--bgcolor);
  display: flex;
}

#part1 {
  height: 100%;
  width: 25%;
}

#part2 {
  height: 100%;
  width: 67%;
  /*   background-color: red; */
  background-image: url(https://images.unsplash.com/photo-1621786030484-4c855eed6974?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
  background-position: 0 10%;
  background-size: cover;
}

#overlay {
  height: 100%;
  width: 100%;
  background-color: var(--overlay);
}

#part3 {
  height: 100%;
  width: 8%;
}

#text_div {
  width: 400px;
  position: absolute;
  left: 4%;
  top: 58%;
  transform: translate(0, -50%);
}

#text_div > h1 {
  color: white;
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 65px;
  letter-spacing: 3px;
}

#small_img {
  width: 300px;
  height: 400px;
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url(https://images.unsplash.com/photo-1621786040662-455f23dcb6ff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
  background-size: cover;
  background-position: center;
}

#vertical_text {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: 0% 0%;
  right: -950px;
    top: -8%;
}

#vertical_text > h1 {
  color: transparent;
  font-size: 70px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

#nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    top: 50px;
    left: 4%;
}

#nav > img {
    width: 100px;
}

#nav > h5 {
    font-size: 20px;
    color: white;
}